In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

#read the data file
lower=pd.read_csv('rings_final2_lower.txt', delimiter="\s+", index_col=False)
upper=pd.read_csv('rings_final2_upper.txt', delimiter="\s+", index_col=False)

In [2]:
lower.head(5)

,#RAD(Kpc),RAD(arcs),VROT(km/s),DISP(km/s),INC(deg),P.A.(deg),Z0(pc),Z0(arcs),SIG(E20),XPOS(pix),YPOS(pix),VSYS(km/s),VRAD(km/s),E_VROT1,E_VROT2,E_DISP1,E_DISP2
0,0.233,15.0,60.760,23.437,40.0,124.375,155.144,10.0,1.0,77.0,77.0,132.8,0.0,-5.634,4.760,-3.051,2.318
1,0.698,45.0,82.750,22.459,40.0,124.375,155.144,10.0,1.0,77.0,77.0,132.8,0.0,-5.881,6.413,-2.504,2.813
2,1.164,75.0,98.301,18.712,40.0,124.375,155.144,10.0,1.0,77.0,77.0,132.8,0.0,-5.223,5.611,-2.389,2.695
3,1.629,105.0,106.954,17.361,40.0,124.375,155.144,10.0,1.0,77.0,77.0,132.8,0.0,-5.272,5.893,-2.212,2.429
4,2.094,135.0,116.813,16.098,40.0,124.375,155.144,10.0,1.0,77.0,77.0,132.8,0.0,-3.821,4.088,-2.047,1.796

In [3]:
lower.columns

Index(['#RAD(Kpc)', 'RAD(arcs)', 'VROT(km/s)', 'DISP(km/s)', 'INC(deg)',
       'P.A.(deg)', 'Z0(pc)', 'Z0(arcs)', 'SIG(E20)', 'XPOS(pix)', 'YPOS(pix)',
       'VSYS(km/s)', 'VRAD(km/s)', 'E_VROT1', 'E_VROT2', 'E_DISP1', 'E_DISP2'],
      dtype='object')

In [14]:
Vtrue_lower=np.mean(lower['VROT(km/s)'])
Vest_lower=lower['VROT(km/s)']+lower['E_VROT1']]
Vesr_lower=np.mean(Vest)

In [15]:
Relative_lower=np.abs((Vtrue-Vesr)/Vesr)*100

In [16]:
Relative_lower, Vtr,Vesr

SyntaxError: invalid syntax (<ipython-input-16-573473fa0dfa>, line 1)